extends ../layouts/common

block content
  if errors
    each error in errors
      p.alert.alert-danger= error
  h2 Login
  form(action="/auth/login", method="post")
    label(for='name') User name:
    input#name(type="text", name="name", value=user ? user.name : "")
    label(for='password') Password:
    input#password(type="password", name="password")
    button Login