<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Book Store App
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/custom.css")
    link(rel="shortcut icon", href="/images/book-store-logo.svg")
    block scripts
      script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
      script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
  body
    nav.navbar.navbar-expand-md.navbar-light.bg-light
      a(href="/")        
        img(src="/images/book-store-logo.svg", alt="", width="30", height="30")
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent",aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div#navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href="/users") Users
          li.nav-item
            a.nav-link(href="/books") Books
          li.nav-item
            a.nav-link(href="/transactions") Transactions
          li.nav-item
            a.nav-link(href="/cart") Cart
          if(user)
            li.nav-item
              a.nav-link(href="/users/profile") Profile
        .div
          if user
            span
              a.border.rounded.border-primary.p-2(href="/auth/logout") Log out
          else
            span
              a.border.rounded.border-primary.p-2(href="/auth/login") Log in
          span.pl-2.pr-2= user ? `Hello! ${user.name}` : " Hello! Guest"
          img.rounded-circle(src=user ? user.avatarUrl : "/images/default-avatar.png", width=50, height=50)
    block content
    block footer