a(href='/')
form(action="/todos", method="get")
  input(type="text", name="q", value=value)
  button(type="submit") Search

p Todos List:
  ul
    each val in todos
     li= `${val.action} `
      a(href=`/todos/${val._id}/delete`) Del

form(action="/todos/create", method="post")
  input(type="text", name="action", value=value)
  button Create