extends ../layouts/common 

block content
  .content.m-3
    if errors
      each error in errors
        p.alert.alert-danger= error
    h1.text-center Your cart
    
    table.table
      thread.thread-light
        tr.text-center
          th Title
          th Quantity
      tbody
        each key, val in cart
          tr
            td= val
            td.text-center= key

    nav
      ul.pagination
        if(pageFoot.prevPage != 0)
          li.page-item
            a.page-link(href="/cart?page="+pageFoot.prevPage) &laquo;
        li.page-item
          a.page-link(href="/cart?page="+pageFoot.pageNumber) Page #{pageFoot.pageNumber}
        if(pageFoot.pageNumber != pageFoot.maxPage)
          li.page-item
            a.page-link(href="/cart?page="+pageFoot.nextPage) &raquo;

    a.btn.btn-primary(href="/cart/borrow") Add to transactions