extends ../layouts/common

block content
  .content.m-3
    if errors
      each error in errors
        p.alert.alert-danger= error
    h1.text-center ADD NEW USER
    form.form-inline(action="/users/add", method="post")
      .form-group.mr-3
        label.mr-1(for='name') Name:
        input#name.form-control(type="text", name="name")
      .form-group.mr-3
        label.mr-1(for='email') Email:
        input#email.form-control(type="email", name="email")
      button.btn.btn-info.mr-3 Add user