extends ../layouts/common

block content
  .content.m-3
    form.m-3
      h1 Your avatar:
      img(src=user.avatarUrl, alt="user-avatar", "width"=100, "height"=100)

    form.m-3(action='/users/profile/avatar', method="post", enctype="multipart/form-data")
      .form-group
        label(for='avatar') Upload your new avatar:
        input#avatar.form-control-file(type='file', name="avatar")
      button.btn.btn-info Submit