extends ../layouts/common

block content

  form
    p Your avatar:
    img(src=user.avatarUrl, alt="user-avatar", "width"=100, "height"=100)
  form(action='/users/profile/avatar', method="post", enctype="multipart/form-data")
    .form-group
      label(for='avatar') Upload your new avatar:
      input#avatar.form-control-file(type='file', name="avatar")
    button Submit

